# Python 3.10 ambiente conda
pandas>=2.2,<3.0
# Bibliotecas adicionais
seaborn==0.13.2
matplotlib==3.10.9
#ydata-profiling==4.18.4
loguru
scikit-learn==1.7.2
xgboost==3.2.0
chromadb==1.5.9
tiktoken==0.14.0
spacy==3.8.15
sentence-transformers==6.0.0
google-genai==2.19.0
langchain
langchain-google-geinai==4.3.5
streamlit==1.62.0
torchvision==0.28.0
yfinance==1.6.0
plotly==6.9.0

google.generativeai==0.8.6
datasets==5.0.1
ragas==0.4.3

